{{define "about.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>About - GoPkgDoc</title>
</head>

<body>
  {{template "NavBar" "about"}}

<div class="container">

  <div class="row">
    <div class="span6">
      <h4>About</h4> 
      <p>GoPkgDoc displays documentation for <a
        href="http://golang.org/">Go</a> packages on <a href="https://bitbucket.org/">Bitbucket</a>, <a href="https://github.com/">Github</a>,
      <a href="https://launchpad.net/">Launchpad</a> and <a href="http://code.google.com/hosting/">Google Project Hosting</a>.  
      
      <p>GoPkgDoc is hosted on <a
        href="http://code.google.com/appengine/">Google App Engine</a>. The
      source code available <a href="https://github.com/garyburd/gopkgdoc">on
        Github</a>.  
    </div>

    <div class="span6">
      <h4>Feedback</h4>
      <p>Send your ideas, feature requests and questions to gopkgdoc@beagledreams.com.
        Report bugs using the <a href="https://github.com/garyburd/gopkgdoc/issues/new">Github Issue Tracker</a>.
    </div>

  </div><div class="row">

    <div class="span6">
      <h4>Writing documentation for GoPkgDoc</h4>
      <p>GoPkgDoc produces documentation from Go source code.  The 
      <a href="http://golang.org/doc/articles/godoc_documenting_go_code.html">guidelines</a>
      for writing documentation for <a
        href="http://golang.org/cmd/godoc/">godoc</a> apply to GoPkgDoc. 

      <p>GoPkgDoc checks for package updates once per hour. You can force
      GoPkgDoc to refresh the documentation immediately by clicking the ⟲ link
      at the bottom of the package documentation page.
    </div>

    <div class="span6">
      <h4>Bookmarklet</h4>
      <p>The GoPkgDoc bookmarklet navigates from pages on Bitbucket, Github
      Launchpad and Google Project Hosting to the package documentation. To
      install the bookmarklet, click and drag the following link to your bookmark
      bar: 
      <a href="javascript:window.location='http://{{.Host|html}}/?q='+encodeURIComponent(window.location)">GoPkgDoc</a>
    </div>

  </div>

</div>

</body>
</html>
{{end}}
