{{define "CommonHead"}}
<meta charset="utf-8">
<link href="/-/static/css/bootstrap.css?v=8" rel="stylesheet">
{{end}}

{{define "NavBar"}}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">GoPkgDoc</a>
      <ul class="nav">
        <li{{if equal . "home"}} class="active"{{end}}><a href="/">Home</a></li>
        <li{{if equal . "index"}} class="active"{{end}}><a href="/-/index">Index</a></li>
        <li{{if equal . "about"}} class="active"{{end}}><a href="/-/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
{{end}}
