{{define "CommonHead"}}
<meta charset="utf-8">
<link href="/static/css/bootstrap.css?v=6" rel="stylesheet">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30722414-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{{end}}

{{define "NavBar"}}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">GoPkgDoc</a>
      <ul class="nav">
        <li{{if equal . "home"}} class="active"{{end}}><a href="/">Home</a></li>
        <li{{if equal . "index"}} class="active"{{end}}><a href="/index">Index</a></li>
        <li{{if equal . "about"}} class="active"{{end}}><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
{{end}}
