<!DOCTYPE html>
<html>
<head>
<title>Packages</title>
<link rel="stylesheet" href="/static/base.css" type="text/css"/> 
</head>
<body>
<div id="content"> 
<h1>Packages</h1>
<ul>
{.repeated section @}
<li><a href="/pkg/{StringID}">{StringID}</a>
{.end}
</ul>
<hr>
<p name="info">To add your Github hosted project to this site, add 
http://gopkgdoc.appspot.com/hook/github to the 
<a href="http://help.github.com/post-receive-hooks/">post-receive hooks</a> for your project.
Click "Test Hook" to initiate the first update.

<p>Contact <a href="https://github.com/inbox/new/garyburd">Gary Burd</a> if you
have questions or comments about this site. File an <a
href="https://github.com/garyburd/pkgdocsrv/issues/new">issue</a> to report
bugs or suggest improvements. The <a href="https://github.com/garyburd/pkgdocsrv">source</a> 
for this site is hosted on Github.  <a
href="http://help.github.com/send-pull-requests/">Pull requests</a> are
welcomed.
</div>
</body>
</html>
