<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GoPkgDoc: Not Found</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
      .container { width: 820px; }
      .page-header { padding-top: 10px; }
      code { background-color: white; }
  </style>
</head>

<body>

<div class="page-header">
  <div class="container">
    <h1><a href="/">GoPkgDoc</a>: Not found.</h1>
  </div>
</div>

<div class="container">
  <p>Our team of gophers could not find the web page you are looking for. Try one of these pages:
  <ul>
    <li><a href="/">Home</a>
    <li><a href="/pkg/">Package List</a>
  </ul>
</div>
    
</body>
</html>
