{{define "packages.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>GoPkgDoc: Packages</title>
</head>

<body>

{{template "NavBar" "packages"}}

<div class="page-header">
  <div class="container">
    <h1>Packages</h1>
  </div>
</div>

<div class="container">

<p>This list is updated automatically when packages are viewed on GoPkgDoc.

<table class="table">
  <thead><tr><th>Import Path</th><th>Synopsis</th></thead>
  <tbody>
    {{range .Packages}}
      <tr>
        <td><a href="/pkg/{{.ImportPath|html}}">{{.ImportPath}}</a>
        <td>{{.Synopsis|comment}}</td>
      </tr>
    {{end}}
  </tbody>
</table>

<div class="page-footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>GoPkgDoc generated this page {{.Updated|relativeTime}}. Number of packages: {{len .Packages}}
</div>

</div>

</body>
</html>
{{end}}
