{{define "packages.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>GoPkgDoc: {{if .pi}}{{.pi.ImportPath|html}}{{else}}Packages{{end}}</title>
</head>

<body>

{{if .pi}}{{template "NavBar" ""}}{{else}}{{template "NavBar" "packages"}}{{end}}

<div class="page-header">
  <div class="container">
    <h1>{{if .pi}}<a href="{{.pi.ProjectURL|html}}">{{.pi.ProjectName}}</a> <small>{{.pi|pathInfo}}</small>{{else}}Packages{{end}}</h1>
  </div>
</div>

<div class="container">

<p>This is a list of packages viewed previously on GoPkgDoc. To add a package
to this list, submit the package import path on the GoPkgDoc <a href="/">home
  page</a>.

{{if .pi}}
  {{template "PackageList" map "pkgs" .pkgs "parentPath" .pi.ImportPath}}
{{else}}
  {{template "PackageList" map "pkgs" .pkgs "parentPath" ""}}
{{end}}

<div class="page-footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>Number of packages: {{len .pkgs}}
</div>

</div>

</body>
</html>
{{end}}
