{{define "pkg.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>GoPkgDoc: {{.ProjectName|html}}</title>
</head>

<body>

<div class="page-header">
  <div class="container">
    <h1><a href="/">GoPkgDoc</a>: <a href="{{.ProjectURL|html}}">{{.ProjectName|html}}</a></h1>
  </div>
</div>

<div class="container">

<h2>package {{.Name|html}}</h2>

<h4>Table Of Contents</h4>
<div style="-webkit-column-count: 2; -moz-column-count: 2; column-count: 2">
<ul>
<li><a href="#package">Package</a>
{{if .Consts}}<li><a href="#constants">Constants</a>{{end}}
{{if .Vars}}<li><a href="#variables">Variables</a>{{end}}
{{range .Funcs}}<li><a href="#{{.Name}}">func {{.Name|html}}</a>{{end}}
{{range $t := .Types}}
<li><a href="#{{.Name|html}}">type {{.Name|html}}</a>
    {{if or .Factories .Methods}}<ul>{{end}}
    {{range .Factories}}<li><a href="#{{.Name|html}}">func {{.Name|html}}</a>{{end}}
    {{range .Methods}}<li><a href="#{{$t.Name|html}}.{{.Name|html}}">func ({{.Recv|html}}) {{.Name|html}}</a>{{end}}
    {{if or .Factories .Methods}}</ul>{{end}}
{{end}}
</ul>
</div> 

<h3 id="package">Package</h3>

<p><code>import "{{.ImportPath|html}}"</code></p>

{{.Doc|comment}}

<h4>Package Files</h4>
<p>{{range .Files}}<a href="{{.URL|html}}">{{.Name|html}}</a> {{end}}</p>

{{if .Consts}}
<h3 id="constants">Constants</h3>
{{range .Consts}}{{.Doc|comment}}<pre>{{.Decl|html}}</pre>{{end}}
{{end}}

{{if .Vars}}
<h3 id="variables">Variables</h3>
{{range .Vars}}{{.Doc|comment}}<pre>{{.Decl|html}}</pre>{{end}}
{{end}}

{{range .Funcs}}
<h3 id="{{.Name|html}}">func <a href="{{.URL|html}}">{{.Name|html}}</a></h3>
<p><code>{{.Decl|html}}</code></p>
{{.Doc|comment}}
{{template "Examples" .}}
{{end}}

{{range $t := .Types}}
<h3 id="{{.Name|html}}">type <a href="{{.URL|html}}">{{.Name|html}}</a></h3>
{{.Doc|comment}}
<pre>{{.Decl|html}}</pre>
{{range .Consts}}{{.Doc|comment}}<pre>{{.Decl|html}}</pre>{{end}}
{{range .Vars}}{{.Doc|comment}}<pre>{{.Decl|html}}</pre>{{end}}
{{template "Examples" .}}

{{range .Factories}}
<h4 id="{{.Name|html}}">func <a href="{{.URL|html}}">{{.Name|html}}</a></h4>
<p><code>{{.Decl|html}}</code></p>
{{.Doc|comment}}
{{template "Examples" .}}
{{end}}

{{range .Methods}}
<h4 id="{{$t.Name|html}}.{{.Name|html}}">func ({{.Recv|html}}) <a href="{{.URL|html}}">{{.Name|html}}</a></h4>
<p><code>{{.Decl|html}}</code></p>
{{.Doc|comment}}
{{template "Examples" .}}
{{end}}

{{end}}
</div>

<footer>
  <div class="container">
    <p><a href="/">GoPkgDoc</a> generated this page from the <a href="{{.ProjectURL|html}}">{{.ProjectName|html}} source code</a> {{.Updated|relativeTime}}.
  </div>
</footer>
</body>
</html>
{{end}}

{{define "Examples"}}
{{range .Examples}}
<p>Example:
<pre>{{if .Output}}<strong>Code:</strong>
          
{{end}}{{.Code|html}}{{if .Output}}

<strong>Output:</strong>

{{.Output|html}}{{end}}</pre>{{end}}
{{end}}
