{{define "pkgList.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>GoPkgDoc: Packages</title>
</head>

<body>

<div class="page-header">
  <div class="container">
    <h1><a href="/">GoPkgDoc</a>: Packages</h1>
  </div>
</div>

<div class="container">

<p>This list is updated automatically when packages are viewed on GoPkgDoc.

<table class="condensed-table">
  <thead><tr><th>Import Path</th><th>Synopsis</th></thead>
  <tbody>
    {{range .Packages}}
      <tr>
        <td><a href="/pkg/{{.ImportPath|html}}">{{.ImportPath}}</a>
        <td>{{.Synopsis|comment}}</td>
      </tr>
    {{end}}
  </tbody>
</table>

</div>

<footer>
  <div class="container">
    <p><a href="/">GoPkgDoc</a> generated this page {{.Updated|relativeTime}}. Number of packages: {{len .Packages}}
  </div>
</footer>
</body>
</html>
{{end}}
