{{define "search.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "CommonHead"}}
  <title>Not Found - GoPkgDoc</title>
</head>

<body>

{{template "NavBar" "home"}}

<div class="container">

<h1>Not Found</h1>

<p>Oh snap! Our team of gophers could not find a package with import path "{{.importPath|html}}".  

{{if .suggestions}}<p>Did you mean:<ul>{{range .suggestions}}<li><a href="/{{.|html}}">{{.|html}}</a>{{end}}</ul>{{end}}

<p>Check the import path and try again.

<form class="form-inline">
  <input type="text" class="span6" id="q" name="q" value="{{.importPath|html}}" placeholder="Package import path"/>
  <button type="submit" class="btn primary">Go</button>
</form>

</div>
</body>
</html>
{{end}}
